@import url(./vendor/fonts/fonts.css);

.page {
  background: #e5e5e5;
}

.body {
  background-color: #2a2c2f;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 28px 0 56px 0;
  margin: 0 48px;
  max-width: 1184px;
}

@media screen and (max-width: 768px) {
  .header {
    padding-bottom: 48px;
    margin: 0 24px;
  }
}

@media screen and (max-width: 500px) {
  .header {
    padding-top: 16px;
    margin: 0 16px;
  }
}

.header__lang {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: flex-end;
  list-style: none;
}

.header__lang-item {
  margin: 0 18px 4px 0;
  padding: 0;
}

.header__lang-item:last-child {
  margin: 0 0 4px;
}

.header__lang-link {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  text-decoration-line: none;
  margin: 0;
  padding: 0;
  transition: opacity 0.3s ease;
  color: #fff;
  font-family: 'Inter';
}

.header__lang-link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 500px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 111%;
  }
}

.header__lang-link_line {
  text-decoration-line: underline;
}

.header__logo {
  width: 176px;
  height: 52px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.header__logo:hover {
  opacity: 0.8;
}

@media screen and (max-width: 500px) {
  .header__logo {
    width: 142px;
    height: 42px;
  }
}

.lead {
  max-width: 984px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

@media screen and (max-width: 1100px) {
  .lead {
    max-width: 928px;
  }
}

.lead__title {
  margin: 0 auto;
  color: #fff;
  font-family: 'Inter', Verdana, Tahoma;
  font-weight: 900;
  font-style: normal;
  text-align: center;
  line-height: 104%;
  font-size: 6rem;
}

@media screen and (min-width: 768px) {
  .lead__title {
    max-width: 720px;
    max-height: 200px;
    font-size: 6rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .lead__title {
    max-width: 288px;
    max-height: 88px;
    font-size: 2.5rem;
  }
}

.lead__subtitle {
  font-family: 'Inter', Verdana, Tahoma;
  font-weight: normal;
  color: #fff;
  text-align: center;
}

@media screen and (min-width: 1280px) {
  .lead__subtitle {
    margin: 2rem auto 64px;
  }
}

@media screen and (min-width: 768px) {
  .lead__subtitle {
    max-width: 640px;
    max-height: 72px;
    font-size: 30px;
    line-height: 1.2;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .lead__subtitle {
    margin: 2rem auto 56px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .lead__subtitle {
    margin: 1rem auto 40px;
    max-width: 288px;
    max-height: 40px;
    font-size: 1rem;
    line-height: 1.25;
  }
}

.lead__figure {
  margin: 0;
  padding: 0;
}

.lead__image {
  max-height: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

.lead__caption {
  font-weight: normal;
  font-size: 10px;
  line-height: 140%;
  margin-top: 8px;
  padding: 0;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

@media screen and (max-width: 941px) {
  .lead__caption {
    margin-left: 24px;
  }
}

@media screen and (max-width: 381px) {
  .lead__caption {
    margin-left: 16px;
  }
}

.intro {
  max-width: 984px;
  margin: 92px 442px 0 148px;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1280px) {
  .intro {
    max-width: 984px;
    margin: 92px auto;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .intro {
    max-width: 928px;
    margin: 92px auto;
  }
}

@media screen and (min-width: 320px) and (max-width: 1023px) {
  .intro {
    max-width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .intro {
    margin: 88px 24px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .intro {
    margin: 64px 16px;
  }
}

.intro__title {
  color: #fff;
  font-family: 'Inter', Verdana, Tahoma;
  font-weight: 900;
}

@media screen and (min-width: 767px) {
  .intro__title {
    font-size: 54px;
    line-height: 1.07;
  }
}

@media screen and (min-width: 1024px) {
  .intro__title {
    margin: 0 0 40px;
    max-width: 690px;
    max-height: 58px;
  }
}

@media screen and (min-width: 320px) and (max-width: 1023px) {
  .intro__title {
    margin: 0 auto 40px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .intro__title {
    max-width: 720px;
    max-height: 54px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .intro__title {
    max-width: 288px;
    max-height: 70px;
    font-size: 32px;
    line-height: 1.09;
  }
}

.intro__text {
  color: #fff;
  font-family: 'Inter', Verdana, Tahoma;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.63;
  margin: 0;
}

@media screen and (min-width: 1280px) {
  .intro__text {
    margin: 0;
  }
}

@media screen and (min-width: 1024px) {
  .intro__text {
    max-width: 690px;
    margin-bottom: 33px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .intro__text {
    max-width: 720px;
    margin: 0 auto 31px;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .intro__text {
    max-width: 288px;
    margin: 0 auto 34px;
  }
}

.intro__list {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  color: #fff;
  font-family: 'Inter', Verdana, Tahoma;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.5;
}

@media screen and (min-width: 1024px) {
  .intro__list {
    max-width: 690px;
    margin: 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 1023px) {
  .intro__list {
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .intro__list {
    max-width: 720px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .intro__list {
    max-width: 288px;
  }
}

.intro__list-number {
  font-family: 'Inter', Verdana, Tahoma;
  font-weight: normal;
}
.intro__list-text {
  margin: 0;
}

.photo-grid {
  display: grid;
  max-height: 671px;
}

@media screen and (min-width: 1280px) {
  .photo-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    max-width: 1184px;
    gap: 16px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    max-width: 928px;
    gap: 14px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    max-width: 720px;
    margin: 0 auto;
    gap: 16px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    max-width: 288px;
    max-height: 2724px;
    margin: 0 auto;
    gap: 12px;
  }
}
